In [1]:
#reading the data
import pandas as pd
data= pd.read_csv('buddymove_holidayiq.csv')
data.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [2]:
data.describe()

           Sports   Religious      Nature     Theatre    Shopping      Picnic
count  249.000000  249.000000  249.000000  249.000000  249.000000  249.000000
mean    11.987952  109.779116  124.518072  116.377510  112.638554  120.401606
std      6.616501   32.454115   45.639372   32.132696   41.562888   32.633339
min      2.000000   50.000000   52.000000   59.000000   50.000000   61.000000
25%      6.000000   84.000000   89.000000   93.000000   79.000000   92.000000
50%     12.000000  104.000000  119.000000  113.000000  104.000000  119.000000
75%     18.000000  132.000000  153.000000  138.000000  138.000000  143.000000
max     25.000000  203.000000  318.000000  213.000000  233.000000  218.000000

In [3]:
from sklearn.model_selection import train_test_split
feature_columns = ['Picnic','Religious','Nature','Theatre','Shopping']
x=data[feature_columns]
y=data.Sports

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [5]:
#using decision tree for accuracy of training data
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
dtc = DecisionTreeClassifier()
dtc= dtc.fit(x_train,y_train)
y_pred = dtc.predict(x_test)
print("Accuracy using Decision Tree: ",metrics.accuracy_score(y_test,y_pred))

Accuracy using Decision Tree:  0.44

In [6]:
#using perceptron for accuracy
from sklearn.datasets import load_digits
from sklearn.linear_model import Perceptron
pt = Perceptron(tol=1e-3,random_state=0)
pt.fit(x_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [7]:
print("Accuracy using Perceptron:",pt.score(x,y))

Accuracy using Perceptron: 0.09236947791164658